<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>步骤条</title>
</head>
<link href="../../assets/css/layui.css" rel="stylesheet">
<link href="../../assets/css/stepBar.css" rel="stylesheet">
<body>
<div class="layui-card-body" id="layui-card-body" style="padding-top: 40px; width: 100%; display: flex;height:auto">
    <div class="layui-carousel" id="stepForm" lay-filter="stepForm" style="flex-grow: 1;">
        <div carousel-item id="carousel-item">
            <!-- 步骤内容 -->
            <div class="m-10" id="step1-content"
                 style="margin-left: 5.6%;background:white">
                <div style="margin-top: 2%;">
                    <p class="m-20" style="">aaaaaa</p>
                    <p class="m-20-p">bbbbbbbbbbb</p>
                    <p class="m-20" style="margin-top: 1.5%;">ccccc</p>
                    <p class="m-20-p">dddddddddddddd</p>
                    <ul style="margin-left: 20px">
                        <li>dddddddddddddd</li>
                        <li>dddddddddddddddddddddddddddd</li>
                        <li>dddddddddddddd</li>
                        <li>dddddddddddddd</li>
                        <li>dddddddddddddd</li>
                        <li>dddddddddddddd</li>
                        <li>dddddddddddddd</li>
                        <li>dddddddddddddd</li>
                    </ul>
                    <form class="layui-form" style="margin: 0 auto;width: 30%;padding-top: 40px;">
                        <div class="layui-form-item">
                            <div class="layui-input-block" style="margin-left: -14.4%;">
                                <button class="layui-btn" id="layui-btn-nextOne" lay-submit lay-filter="formStep"
                                        style=";width: 35%;background-color: #155ede;border-radius: 4px">
                                    我已阅读
                                </button>
                                <button class="layui-btn" onclick="printPage()"
                                        style="margin-left: 3.5%;width: 35%;border-radius: 4px">
                                    打印
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="m-10" id="step2-content"
                 style="margin-left: 6%;overflow-y: scroll;background-color: white">
                <!--                    <p class="m-20" style="font-size: 20px;font-weight: bold;margin-top: 2%">申请人信息</p>-->
                <p class="m-20" style="">aaaaaa</p>
                <p class="m-20-p">bbbbbbbbbbb</p>
                <p class="m-20" style="margin-top: 1.5%;">ccccc</p>
                <p class="m-20-p">dddddddddddddd</p>
                <ul style="margin-left: 20px">
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddddddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                </ul>
                <form class="layui-form"
                      style="margin-left: 20%;width: 70%;padding-top: 40px;">
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn pre"
                                    style="background-color: #155ede;height: 40px;   width:20%;color: white;border-radius: 4px">
                                上一步
                            </button>
                            <button type="button" class="layui-btn"
                                    style="background-color: white;border-color: #155ede;color: #155ede;border-radius: 4px"
                                    onclick="saveStep2(true)">
                                保存
                            </button>

                            <button class="layui-btn" id="layui-btn-nextTwo" lay-submit
                                    lay-filter="formStep"
                                    style="border-radius: 4px">
                                下一步
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="m-10" id="step3-content"
                 style="background: white;  ">
                <form class="layui-form"
                      style="margin-left: 20%;width: 70%;padding-top: 40px;">
                    <div class="layui-form-item" style="">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-primary pre"
                                    style="background-color: #155ede;height: 40px;   width:20%;color: white;border-radius: 4px">
                                上一步
                            </button>
                            <button type="button" class="layui-btn"
                                    style="background-color: white;border-color: #155ede;color: #155ede;border-radius: 4px">
                                保存
                            </button>

                            <button class="layui-btn" id="layui-btn-nextThree" lay-submit
                                    lay-filter="formStep"
                                    style="border-radius: 4px">
                                下一步
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="m-10" id="step4-content">
                <p class="m-20" style="">aaaaaa</p>
                <p class="m-20-p">bbbbbbbbbbb</p>
                <p class="m-20" style="margin-top: 1.5%;">ccccc</p>
                <p class="m-20-p">dddddddddddddd</p>
                <ul style="margin-left: 20px">
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddddddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                    <li>dddddddddddddd</li>
                </ul>
                <form class="layui-form"
                      style="margin-left: 20%;width: 70%;padding-top: 40px;">
                    <div class="layui-form-item" style="">
                        <div class="layui-input-block">
                            <button type="button" class="layui-btn layui-btn-primary pre"
                                    style="background-color: #155ede;height: 40px;   width:20%;color: white;border-radius: 4px">
                                上一步
                            </button>
                            <button type="button" class="layui-btn" onclick="saveStep2(true)"
                                    style="background-color: white;border-color: #155ede;color: #155ede;border-radius: 4px">
                                保存
                            </button>

                            <button class="layui-btn" id="layui-btn-nextFour" lay-submit
                                    lay-filter="formStep" onclick="saveStep2(false)"
                                    style="border-radius: 4px">
                                提交
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="m-10" id="step5-content"
                 style="background:white;text-align: center">
                <!--                <div style="margin-top: 2%;margin-left: 51%">-->

                <div style="margin-top: 5%;">
                    <img src="../image/smiley.png" style="width: 3.8%; height: auto;">
                    <p class="m-20-p">恭喜您,申请成功</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../../assets/js/layui.js"></script>
<script src="../../assets/js/step.js"></script>




<script>


    // function aaa() {
    //     var stepContent = $('.step-content2');
    //     var parentContainer = $('.layui-card-body')[0];
    //     var stepContentHeight = stepContent.scrollHeight;
    //     parentContainer.style.height = 1400 + 'px';
    // }

    function printPage() {
        // 获取需要打印的内容
        let cardBodyContent = document.getElementsByClassName('layui-card-body')[0].innerHTML;

        // 排除需要忽略的内容
        let formContent = document.getElementsByClassName('layui-form');
        if (formContent.length > 0) {
            let formInnerHtml = formContent[0].innerHTML;
            cardBodyContent = cardBodyContent.replace(formInnerHtml, '');
        }

        // 将需要打印的内容设置为 body 的新内容
        document.body.innerHTML = cardBodyContent;

        // 执行打印
        window.print();

        // 刷新页面
        location.reload();
    }

    var table = layui.table;
    var layer = layui.layer;


    var stepIndex = -1;
    var currentStep = 0;

    layui.config({
        base: './step-lay/'
    }).use(['form', 'step', 'jquery'], function ()
    {
        var $ = layui.jquery,
            form = layui.form,
            step = layui.step;

        // 获取 URL 参数中的当前步骤索引值
        var urlParams = new URLSearchParams(window.location.search);
        currentStep = parseInt(urlParams.get('step')) || 0;
        // 从本地存储中获取之前保存的步骤索引值
        // var storedStepIndex = localStorage.getItem('currentStepIndex');
        //
        // if (storedStepIndex !== null) {
        //     stepIndex = parseInt(storedStepIndex);
        //     currentStep = stepIndex; // 更新当前步骤索引值
        // }
        var elem = '#stepForm';
        step.render({
            elem: elem,
            filter: 'stepForm',
            width: '100%',
            stepWidth: '92%',
            height: '100%',
            stepItems: [
                {title: '阅读须知', id: 'step1'},
                {title: '填写信息', id: 'step2'},
                {title: '上传材料', id: 'step3'},
                {title: '结果领取', id: 'step4'},
                {title: '申请成功', id: 'step5'}
            ],
            // 设置当前步骤
            step: currentStep
        });

        form.on('submit(formStep)', function () {
            stepIndex++; // 先更新步骤索引值
            step.next('#stepForm'); // 切换到下一步
            adjustStepHeight(stepIndex); // 调整下一个步骤的高度
            // 保存当前步骤索引值到本地存储
            // localStorage.setItem('currentStepIndex', stepIndex);
            return false;
        });

        $('.pre').click(function () {
            stepIndex--; // 先更新步骤索引值
            step.pre('#stepForm'); // 切换到上一步
            adjustStepHeight(stepIndex); // 调整上一个步骤的高度
            // localStorage.setItem('currentStepIndex', stepIndex);
        });

        // // 页面加载完成时调整步骤条高度
        $(document).ready(function () {
            // if(currentStep === 0){
            //     stepIndex++;
            // }else {
            //     stepIndex=currentStep;
            //     // 触发相应的事件，跳转到指定的步骤
            //     if (currentStep > 0) {
            //         stepIndex = currentStep;
            //         step.goToStep(elem, stepIndex);
            //     }
            // }

            stepIndex++;
            adjustStepHeight(stepIndex);
        });
    });

    function adjustStepHeight(stepIndex) {
        stepIndex++;
        var parentContainer = document.getElementById('carousel-item');
        var stepContent = document.getElementById('step' + stepIndex + '-content');

        // 移除之前设置的固定高度
        parentContainer.style.height = 'auto';
        stepContent.style.height = 'auto';

        // 获取实际内容的高度
        var stepContentHeight = stepContent.scrollHeight;

        // 设置父容器和步骤内容的高度为实际内容的高度
        parentContainer.style.height = stepContentHeight + 'px';
        stepContent.style.height = stepContentHeight + 'px';
    }


    window.onload = function () {
        window.scrollTo(0, 0);
    }

    //我已阅读
    function enableButton() {
        var button = document.getElementById('layui-btn-nextOne');
        button.disabled = false;
        button.innerHTML = '我已阅读';
    }


</script>


</html>